{%extends 'base.html'%}
{%block content%}
<div class="jumbotron text-center">
<h1>  What is sales forecasting?</h1>
<p>Sales forecasting is the process of estimating future revenue by predicting the amount of product or services a sales unit (which can be an individual salesperson, a sales team, or a company) will sell in the next week, month, quarter, or year.</p>

<p>At its simplest, a sales forecast is a projected measure of how a market will respond to a company’s go-to-market efforts.</p>

<h1>Why is sales forecasting important?</h1>
<p>Forecasts are about the future. It’s hard to overstate how important it is for a company to produce an accurate sales forecast. Privately-held companies gain confidence in their business when leaders are able to trust forecasts. For publicly-traded companies, accurate forecasts confer credibility in the market.
</p>
<p>Sales forecasting adds value across an organization. Finance, for example, relies on forecasts to develop budgets for capacity plans and hiring. Production uses sales forecasts to plan their cycles. Forecasts help sales ops with territory and quota planning, supply chain with material purchases and production capacity, and sales strategy with channel and partner strategies.
</p>
</div>
<img src="https://cdn.dribbble.com/users/43762/screenshots/1193016/mtn-graph-dribbbble.gif" class="rounded mx-auto d-block" alt="">
{%endblock%}
